/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
   padding-top: 70px; 
}

/*
====================
  nav bar styling
====================
*/

.navbar 
{
   background-color: black;
   .navbar-brand
   {
      color: white;
   }
   .navbar-nav li
   {
      color: white;
   }
}




/*
====================
      post index
====================
*/
.panel
{
   border: none;
}


.header 
{
	font-size: 70px;
}

.add-new 
{
	font-size: 30px;
	position: relative;
	top: -2.75px;
}

.feed
{
   padding: 0;
}

.main-page-post-title 
 { 
   color: rgba(255, 255, 255, 1); 
   margin: 0;
   height: 15%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.6); 
   position: absolute;
   bottom: 0;
   text-align: center;
   font-size: 1.4em;
}

.main-page-post-title:hover 
{
   color: rgba(255, 255, 255, 1); 
   margin: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.6); 
   position: absolute;
   bottom: 0;
   text-align: center;
   text-decoration: none;
}


#container {
   width: 900px;
}

.container {
   padding-left: 0;
   padding-right: 0;
   border-color: 5px solid blue;
   margin: 0 auto;
}

.active 
{
    float: none;
    margin: 0 auto;
 }

.item.w2 { width: 50%; }

p
{
   margin: 0;
}

li {
   list-style: none;
}

.panel-default
{
   margin: 0;
}

a {
   color: gray;
}

img 
{
   padding: 0;
}


/*
===============================
      post styling
===============================
*/

.col-xs-6 
{
   padding: 0;
}


p.col-xs-3
{
   padding: 0;
}

.post-description
{
   margin-top: 10px;
}

.post-options 
{
   margin-top: 10px;
}

.post-show-link
{
   color: black;
   font-weight: 700;
}

.post-options a
{
    padding-right: 15px;
}

.post-heading
{
   margin-bottom: 70px;
}

.test-random {
   width: 250px;
   margin: 0;
   position: absolute;
   left: 76%;
   bottom: 0;
   text-align: center;
   #random-post-title 
    { 
      height: 10%;
      color: rgba(255, 255, 255, 1); 
      background-color: rgba(0, 0, 0, 0.6); 
      position: absolute;
      bottom: 0;
      width: 100%;
   }
}


/*
===============================
      user account page
===============================
*/

#carousel-example-generic
{
   margin-top: 40px;
}

#posts {
   width: 300px;
}
