/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body { padding-top: 70px; }

.credentials
{
	position: relative;
	right: -660px;
}

.feed 
{
	text-align: center;
}

.header 
{
	font-size: 80px;
}

.add-new 
{
	font-size: 30px;
	position: relative;
	top: -2.75px;
}

.post {
	display: inline;
	position: relative; 
   	width: 100%;
}

.main-page-post-title 
 { 
   position: absolute; 
   top: -20px; 
   left: 0; 
   width: 100%;
   color: rgba(255, 255, 255, 0); 
}
.main-page-post-title:hover 
 { 
   position: absolute; 
   top: -20px; 
   left: 0; 
   width: 100%;
   color: rgba(255, 255, 255, 1); 
   text-decoration: none;
}

li {
   list-style: none;
}